

<!-- Contacts BEGIN -->
<section id="contact" class="contacts-section2 bg-color-light">
    <div class="container content">
        <div class="title-v1 margin-bottom-10">
            <h2>聯絡我們</h2>
            <p>對我們的服務有想法、建議、疑問或抱怨嗎? 你可以在FB告訴我們!</p>
            <div class="fb-page" data-href="https://www.facebook.com/%E7%95%99%E4%B8%8B%E9%81%BA%E8%A8%80%E7%95%99%E4%B8%8B%E6%84%9B-1564354127160181/timeline/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        </div>

<!--         <div class="col-md-8 col-md-push-2 col-sm-6 col-sm-push-2">
            <form action="" method="post">
                <div class="col-md-6 margin-bottom-20">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                </div>
                <div class="col-md-12">
                    <textarea rows="8" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn-u">送出</button>
                </div>
            </form>
        </div> -->
    </div>
</section>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=882105101852973";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Contacts END -->