<!-- Contacts BEGIN -->
<section id="contact" class="contacts-section2 bg-color-light">
    <div class="container content">
        <div class="title-v1 margin-bottom-10">
            <h2>聯繫我們</h2>
            <p>對我們的服務有想法、建議、疑問或抱怨嗎? 你可以在這裡告知我們!</p>
        </div>

        <div class="col-md-8 col-md-push-2 col-sm-6 col-sm-push-2">
            <form action="" method="post">
                <div class="col-md-6 margin-bottom-20">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                </div>
                <div class="col-md-12">
                    <textarea rows="8" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn-u">送出</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Contacts END -->