<div class="row">
  <div class="heading heading-v4"><h2 style="text-align:center;">喪葬意願</h2></div>
  <%= f.text_area :funeral, :rows => 4, :class => "message_textarea", :placeholder => "寫下你期望的喪葬方式" %>
</div>