<div class="row">
  <div class="heading"><h3 style="text-align:center;"><legend>喪葬意願</legend></h3></div>
  <%= f.text_area :funeral, :rows => 4, :class => "message_textarea", :placeholder => "你希望自己的告別式是什麼樣的氣氛? 放什麼音樂? 新家會在哪裡、長什麼樣子? 試著寫下來吧!! (注意: 此項目開放不特定人查詢及閱覽，請避免個人隱私資訊)" %>
</div>