<div class="row">
  <div class="heading"><h3 style="text-align:center;"><legend>喪葬意願</legend></h3></div>
  <%= f.text_area :funeral, :rows => 4, :class => "message_textarea", :placeholder => "寫下你期望的喪葬方式" %>
</div>