<div class="row">
  <div class="heading heading-v4"><h2 style="text-align:center;">喪葬意願</h2></div>
  <!-- <textarea rows="4" style="width:80%;margin:0px auto;" name="message" id="message" class="form-control" placeholder="我的喪葬事宜"></textarea> -->
  <%= f.text_area :funeral, :rows => 4, :placeholder => "寫下你期望的喪葬方式" %>
</div>