<div class="row">
  <div class="heading heading-v4"><h2 style="text-align:center;">安寧意願</h2></div>
  <p style="text-align:center;">(安寧緩和醫療暨維生醫療抉擇意願)</p>
  <div class="col-sm-6 col-sm-offset-4 col-xs-12  col-xs-offset-2">
    <label class="checkbox"><%= f.check_box :hospice, {}, true, false %>接受 安寧緩和醫療</label>
    <label class="checkbox"><%= f.check_box :hospice, {}, true, false %>接受 不施行心肺復甦術</label>
    <label class="checkbox"><%= f.check_box :hospice, {}, true, false %>接受 不施行維生醫療</label>
  </div>
</div>