<div class="row">
  <div class="heading heading-v4"><h2 style="text-align:center;">器捐意願</h2></div>
  <div style="padding:0px 20px;">
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="organ_select"><i class="rounded-x"></i>捐贈全部器官</label>
    </div>
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="organ_select"><i class="rounded-x"></i>捐贈部份器官(勾選)</label>
    </div>
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="organ_select"><i class="rounded-x"></i>不要捐贈器官</label>
    </div>

    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">心臟</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肺臟</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肝臟</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">胰臟</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">腎臟</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">小腸</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">眼角膜</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">皮膚</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">骨骼</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">心瓣膜</label></div>
    <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">血管</label></div>
  </div>

  <div class="col-md-8 margin-bottom-20">
      <input type="text" name="organ_message" class="form-control" placeholder="寫下簽署的原因讓親友知道">
  </div>
  <div class="margin-bottom-20"></div>
</div>