  <!-- Interactive Slider v2 -->
  <div id="" class="interactive-slider-v2 index-slider">
      <div class="row">
          <h1><%= btitle.html_safe %></h1>
          <div class="col-sm-8 sub-active col-sm-push-2">
              <div class="subtitle"><h2 class="subtitle"><%= stitle %></h2></div>
              <a href="#theword" class="btn-u"><h3>開始填寫</h3></a>
          </div>
      </div>
  </div>
<!--   <div class="input-group col-xs-12 searchbar">
        <input type="text" class="form-control" style="float:none; width: 60%;padding:20px 10px;" placeholder=<%= search_text %>><a class="btn-u" type="button"><i class="fa fa-search" style="padding:8px;"></i></a>
  </div> -->