  <!-- Interactive Slider v2 -->
  <div id="" class="interactive-slider-v2 index-slider">
      <div class="row">
          <h1><%= btitle.html_safe %></h1>
          <div class="col-sm-8 sub-active col-sm-push-2">
              <div class="subtitle"><h2 class="subtitle"><%= stitle.html_safe %></h2></div>
              <a href="#theword" class="btn-u"><h3>開始填寫</h3></a>
          </div>
      </div>
  </div>
