<%= render :partial => "header", :locals => { } %>
<%= render :partial => "slider", :locals => {:btitle => @btitle, :stitle => @stitle, :search_text => @search_text} %>

<div id="theword" class="row fill-all-form">
  <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2">
    <form action="" method="POST" class="" role="form">
      <%= render :partial => "funeral_form", :locals => { } %>
    </form>
  </div>
</div>
<%= render :partial => "contactus", :locals => { } %>