<div class="wrapper">
  <%= render :partial => "header", :locals => { } %>
  <%= render :partial => "slider", :locals => {:btitle => @btitle, :stitle => @stitle, :search_text => @search_text} %>

  <div id="theword" class="row fill-all-form">
    <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2">
      <form action="" method="POST" class="" role="form">
        <div class="row">
          <h2 style="text-align:center;">1.器捐意願</h2>
          <div style="padding:0px 20px;">
          <div class="col-md-4 col-xs-12">
              <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="radio"><i class="rounded-x"></i>願意捐贈全部器官</label>
          </div>
          <div class="col-md-4 col-xs-12">
              <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="radio"><i class="rounded-x"></i>願意捐贈部份器官(勾選)</label>
          </div>
          <div class="col-md-4 col-xs-12">
              <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="radio"><i class="rounded-x"></i>不要捐贈器官</label>
          </div>

          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">心臟</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肺臟</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肝臟</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">胰臟</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">腎臟</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">小腸</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">眼角膜</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">皮膚</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">骨骼</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">心瓣膜</label></div>
          <div class="col-md-2 col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">血管</label></div>
          </div>

          <div class="col-md-8 margin-bottom-20">
              <input type="text" name="organ" class="form-control" placeholder="寫下簽署的原因讓親友知道">
          </div>
          <div class="margin-bottom-20"></div>
        </div>
        <div class="row">
          <h2 style="text-align:center;">2.安寧意願</h2>
          <p style="text-align:center;">(安寧緩和醫療暨維生醫療抉擇意願)</p>
          <div class="col-sm-6 col-sm-offset-4 col-xs-12  col-xs-offset-2">
            <label class="checkbox"><input type="checkbox" name="hospice">接受 安寧緩和醫療</label>
            <label class="checkbox"><input type="checkbox" name="hospice">接受 不施行心肺復甦術</label>
            <label class="checkbox"><input type="checkbox" name="hospice">接受 不施行維生醫療</label>
          </div>
        </div>
        <div class="row">
          <h2 style="text-align:center;">3.喪葬意願</h2>
          <textarea rows="4" style="width:80%;margin:0px auto;" name="message" id="message" class="form-control" placeholder="我的喪葬事宜"></textarea>
        </div>
        <div class="row">
          <h2 style="text-align:center;">4.給親友的話</h2>
          <textarea rows="4" style="width:80%;margin:0px auto;" name="message" id="message" class="form-control" placeholder="與親朋好友們道謝、道歉、道愛、道別"></textarea>
        </div>
        <div class="margin-bottom-20"></div>
        <div class="row">
          <div class="col-xs-12">
              <button type="submit" class="btn btn-u" style="width:100%;padding:10px;">儲存我的再見手札</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- Contacts BEGIN -->
  <section id="contact" class="contacts-section2 bg-color-light">
      <div class="container content">
          <div class="title-v1 margin-bottom-10">
              <h2>聯繫我們</h2>
              <p>對我們的服務有想法、建議、疑問或抱怨嗎? 你可以在這裡告知我們!</p>
          </div>

          <div class="col-md-8 col-md-push-2 col-sm-6 col-sm-push-2">
              <form action="" method="post">
                  <div class="col-md-6 margin-bottom-20">
                      <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                  </div>
                  <div class="col-md-6">
                      <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                  </div>
                  <div class="col-md-12">
                      <textarea rows="8" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn-u">送出</button>
                  </div>
              </form>
          </div>
      </div>
  </section>
  <!-- Contacts END -->
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
