<div class="wrapper">
    <!--=== Header ===-->
    <div class="header header-sticky">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" style="padding:40px;font-size:30px;color:#72c02c;" href="index.html">theWord - 再見手札</a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li><a href="page_faq.html">關於我們</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">會員登入。修改我的意願</a></li>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">theWord</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="page-scroll">
                        <a href="about">
                            關於我們
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#organ-donation">
                            30秒器捐
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#organ-donation2">
                            我已領有器捐卡
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#search">
                            查詢親友意願
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">
                            聯絡我們
                        </a>
                    </li>
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!-- Interactive Slider v2 -->
    <div id="" class="interactive-slider-v2 index-slider">
        <div class="">
            <h1>最快速的器官捐贈意願平台</h1>
            <div class="col-sm-8 sub-active col-sm-push-2">
                <div class="subtitle"><h2 class="subtitle">你知道嗎? 「器捐者家屬可獲得器官優先分配」<br>留下意願 <i class="glyphicon glyphicon-arrow-right"></i> 一鍵分享 <i class="glyphicon glyphicon-arrow-right"></i> 人人捐贈 <i class="glyphicon glyphicon-arrow-right"></i> 人人受贈</h2></div>

                <a href="#organ-donation" class="btn-u"><h3>30秒登錄器捐意願</h3></a>
                <a href="#organ-donation2" class="btn-u"><h3>我已填過器捐意願</h3></a>
            </div>
            <div class="input-group col-sm-8 col-sm-push-2">
                <input type="text" class="form-control" placeholder="輸入Email查詢親友的器官捐贈意願">
                <span class="input-group-btn">
                    <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->

    <div id="organ-donation" class="bg-grey content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>留下器官捐贈意願</h2>
                <h3 style="text-decoration:underline;">30秒完成、隨時修改、隨時查詢</h3>
            </div>
            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">照顧家人，器捐家屬可獲得器官優先分配</h2>
                            <p>幫助他人也照顧家人，曾捐贈器官者的配偶或三等親，若有器官移植需求時，可獲得優先分配</p>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">有多少人在等待合適的器官? </h2>
                            <p>台灣超過<strong>8000人</strong>在等待器官，每年只有不到<strong>800人</strong>獲得捐贈，7成病患最後死亡或放棄等待而死亡</p>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">簡單寫、簡單查詢</h2>
                            <p>只要在此留下器捐意願，家屬隨時可上網查詢確認你的意願</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 organ-donation-form form-page tag-box-v2">

                    <form action="" method="POST" class="" role="form">
                        <div class="col-xs-6">
                            <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="radio" checked><i class="rounded-x"></i>全部器捐</label>
                        </div>
                        <div class="col-xs-6">
                            <label class="radio content-boxes-v1 radio-v1 text-align-left"><input type="radio" name="radio"><i class="rounded-x"></i>部份器捐</label>
                        </div>

                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">心臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肺臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肝臟</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">胰臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">腎臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">小腸</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">眼角膜</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">皮膚</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">骨骼</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">心瓣膜</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">血管</label></div>
                        <div class="margin-bottom-20"></div>

                        <div class="clearfix margin-bottom-10">
                            <button type="submit" class="btn btn-u">留下我的器捐意願</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="founder-talk">
            <div class="parallax-quote-in">
                <p>我願意器捐、我分享意願， <span class="color-green">也許最後我才是受贈者</span></p>
                <small>- 再見手札創辦人 Sky -</small>
            </div>
    </div>

    <div id="organ-donation2" class="content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>如果你已領有器捐卡</h2>
                <h3>每十位等待器官的病患，有七位因等不到適合的器官而死亡</h3>
                <h3 style="text-decoration:underline;">花30秒再填一次，分享到Facebook，一起掀起器官捐贈的風潮</h3>
            </div>
            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">台灣願意捐贈器官的人多嗎?</h2>
                            <p>西班牙約99%的人願意器捐、美國約42%、台灣則不到1.5%</p>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">病患多久可以等到適合的器官?</h2>
                            <p>以腎臟而言，平均要等待近四年，肝臟則需要等待超過七年。這段時間，病患生活品質差、經濟壓力大、健保支出高，器官捐贈不只救一個人，而是幫助一個家庭</p>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">填寫、分享，也許我們才是受贈者!</h2>
                            <p>即便你已留下器捐意願，但若家人不知道不同意，醫師也無法完成你的心願<br>使用theWord可簡單分享你的器捐意願，家屬隨時可上網查詢確認</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 organ-donation-form form-page tag-box-v2">

                    <form action="" method="POST" class="" role="form">
                        <div class="col-xs-6">
                            <label class="radio content-boxes-v1 radio-v1"><input type="radio" name="radio" checked><i class="rounded-x"></i>全部器捐</label>
                        </div>
                        <div class="col-xs-6">
                            <label class="radio content-boxes-v1 radio-v1 text-align-left"><input type="radio" name="radio"><i class="rounded-x"></i>部份器捐</label>
                        </div>

                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">心臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肺臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">肝臟</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">胰臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">腎臟</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">小腸</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">眼角膜</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">皮膚</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">骨骼</label></div>
                        <div class="col-xs-3 col-xs-offset-2"><label class="checkbox"><input type="checkbox" name="organ">心瓣膜</label></div>
                        <div class="col-xs-3"><label class="checkbox"><input type="checkbox" name="organ">血管</label></div>
                        <div class="margin-bottom-20"></div>

                        <div class="clearfix margin-bottom-10">
                            <button type="submit" class="btn btn-u">留下我的器捐意願</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Contacts BEGIN -->
    <section id="contact" class="contacts-section2 bg-color-light">
        <div class="container content">
            <div class="title-v1 margin-bottom-10">
                <h2>聯繫我們</h2>
                <p>對我們的服務有想法、建議、疑問或抱怨嗎? 你可以在這裡告知我們!</p>
            </div>

            <div class="col-md-8 col-md-push-2 col-sm-6 col-sm-push-2">
                <form action="" method="post">
                    <div class="col-md-6 margin-bottom-20">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                    </div>
                    <div class="col-md-12">
                        <textarea rows="8" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn-u">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Contacts END -->

</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
