
<div id="" class="interactive-slider-v2 index-slider">
    <div class="row">
        <h1>查詢親友的再見手札</h1>
        <h2>包括: 器捐意願、安寧意願、喪葬意願、給親友的話</h2>
        <div class="col-sm-7 sub-active col-sm-push-3">
          <%= form_tag "/search", :class => "" do %>
            <div class="col-md-8 col-md-push-1">
              <%= text_field_tag :search_email,nil ,:placeholder => "輸入Email搜尋親友的再見手札" ,:class => "form-control" %>
            </div>
            <div class="col-md-2">
              <%= submit_tag "搜尋", :class => "btn btn-u form-control" %>
            </div>
          <% end %>
        </div>
    </div>
</div>
<p class="alert alert-danger text-center">
   <%= flash[:fault] %>
   <a href="" class="close" data-dismiss="alert">&#215;</a>
</p>